asgiref==3.8.1
Django==5.2.3
djangorestframework==3.16.0
et_xmlfile==2.0.0
joblib==1.5.1
Levenshtein==0.27.1
mysql-connector-python==8.4.0
numpy==2.3.0
openpyxl==3.1.5
pandas==2.3.0
psutil==7.0.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.27.1
pytz==2025.2
RapidFuzz==3.13.0
scikit-learn==1.7.0
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2
